:root {
  --body-color: #121212;
  --border-color: #e5e5e5;
  --success-color: #03c124;
  --error-color: #e82929;
  --placeholder-color: #8f8f8f;
}

html {
  font-size: 16px;
}

body {
  /* prettier-ignore */
  font-family: 'Pretendard', '맑은 고딕', Malgun Gothic, 'Apple SD Gothic Neo', '나눔고딕', Arial, sans-serif;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--body-color);
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  --btn-border-color: none;
  --btn-color: #ffffff;

  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--btn-radius);
  font-weight: 600;
  font-size: var(--btn-font-size);
  color: var(--btn-color);
  cursor: pointer;
}

.btn[hidden] {
  display: none;
}

/* 마우스 사용이 가능한 기기에서만 호버 효과 적용 */
@media (hover: hover) {
  .btn:hover,
  .btn--hover {
    border-color: var(--btn-hover-border-color, var(--btn-border-color));
    background: var(--btn-hover-bg, var(--btn-bg));
    color: var(--btn-hover-color, var(--btn-color));
  }
}

.btn:active,
.btn--active {
  border-color: var(--btn-active-border-color, var(--btn-border-color));
  background: var(--btn-active-bg, var(--btn-bg));
  color: var(--btn-active-color, var(--btn-color));
}

.btn:disabled,
.btn--disabled {
  border-color: var(--btn-disabled-border-color, var(--btn-border-color));
  background: var(--btn-disabled-bg, var(--btn-bg));
  color: var(--btn-disabled-color, var(--btn-color));
  pointer-events: none;
}

.btn--sm {
  --btn-radius: 4px;

  height: 38px;
  padding-inline: 12px;
}

.btn--md {
  --btn-radius: 6px;
  --btn-font-size: 18px;

  height: 48px;
  padding-inline: 20px;
}

.btn--lg {
  --btn-radius: 8px;
  --btn-font-size: 20px;

  height: 58px;
  padding-inline: 20px;
}

.btn--gray {
  --btn-bg: #323232;
  --btn-hover-bg: #565656;
  --btn-active-bg: #121212;
  --btn-disabled-bg: #d7d7d7;
}

.btn--primary {
  --btn-bg: #03c124;
  --btn-border-color: none;
  --btn-hover-bg: #02891a;
  --btn-active-bg: #026a14;

  --btn-disabled-bg: #d7d7d7;
}

.btn--line-primary {
  --btn-border-color: var(--border-color);
  --btn-bg: #f7f7f8;
  --btn-color: #323232;

  --btn-hover-border-color: #bababa;
  --btn-hover-bg: #e5e5e5;

  --btn-active-border-color: #03c124;
  --btn-active-bg: #e6f9e9;
  --btn-active-color: #03c124;

  --btn-disabled-border-color: #d7d7d7;
  --btn-disabled-bg: #e5e5e5;
  --btn-disabled-color: var(--placeholder-color);
}

.btn--close {
  --btn-hover-bg: #f7f7f8;
  --btn-active-bg: #e5e5e5;

  padding: 0;
  width: 28px;
  aspect-ratio: 1;
  cursor: pointer;
}

.btn--close--lg {
  width: 48px;
}

.line-box {
  border-radius: 8px;
  background: #f7f7f8;
  border: 1px solid var(--border-color);
}

.select-box {
  --height: 48px;
  --px: 16px;
  --font-size: 16px;

  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--height);
  background: #ffffff;
  padding-inline: var(--px);
  font-size: var(--font-size);
  font-weight: 500;
  cursor: pointer;
}

.select-box__placeholder {
  color: var(--placeholder-color);
}

.select-box > img {
  width: 24px;
}

.textarea-wrapper {
  --height: 118px;
  --font-size: 16px;
  --py: 12px;
  --textarea-border-color: var(--border-color);

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--textarea-border-color);
  background: #ffffff;
  height: var(--height);
  font-weight: 500;
  font-size: var(--font-size);
}

.textarea-wrapper[data-state='success'] {
  --textarea-border-color: var(--success-color);
}

.textarea-wrapper[data-state='error'] {
  --textarea-border-color: var(--error-color);
}

.textarea-wrapper textarea {
  all: unset;
  font: inherit;
  resize: none;
  border: none;
  background: none;
  padding: var(--py) 16px 46px;
  appearance: none;
}

.textarea-wrapper[data-state='error'] textarea {
  outline-color: var(--error-color);
}

.textarea-wrapper textarea::placeholder {
  color: var(--placeholder-color);
}

.textarea-footer {
  padding: 8px 16px var(--py);
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: var(--placeholder-color);
}

.textarea-error {
  display: none;
  font-weight: 500;
  margin-top: 4px;
  color: var(--error-color);
}

.textarea-wrapper[data-state='error'] + .textarea-error {
  display: block;
}

@media screen and (width < 767px) {
  .tablet-pc-only {
    display: none;
  }
}

@media screen and (width >= 767px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (width < 1100px) {
  .pc-only {
    display: none;
  }
}

@media screen and (width >= 1100px) {
  .mobile-tablet-only {
    display: none;
  }

  .select-box {
    --height: 60px;
    --font-size: 18px;
  }

  .textarea-wrapper {
    --height: 138px;
    --font-size: 18px;
    --py: 16px;
  }
}
