@import './styles/reset.css';
@import './styles/font.css';
@import './styles/common.css';
@import './styles/layout.css';

/* 대표 이미지 */
.main-image__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-align: center;
  overflow: hidden;
}

.main-image__disp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-image__title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.main-image__desc {
  margin-bottom: 24px;
  font-weight: 500;
  color: #8f8f8f;
}

.main-image__btn {
  width: 160px;
}

.main-image__img {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

@media screen and (width >= 767px) {
}

@media screen and (width >= 1100px) {
  .main-image__title {
    font-size: 28px;
  }

  .main-image__desc {
    font-size: 22px;
  }
}

/* 추가 이미지 */
.more-images__content {
  max-width: calc(100vw - 32px);
  margin-bottom: -16px;
  padding-bottom: 16px;
  overflow-x: auto;
}

.more-images__grid {
  display: flex;
  gap: 8px;
}

.more-images__box {
  position: relative;
  flex-shrink: 0;
  width: 120px;
  aspect-ratio: 1;
  background-image: url(./assets/icn_image-plus.svg);
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.more-images__box[data-box-index='1'] {
  order: 4;
}

.more-images__box[data-box-index='2'] {
  order: 3;
}

.more-images__box[data-box-index='3'] {
  order: 2;
}

.more-images__box[data-box-index='4'] {
  order: 1;
}

.more-images__img {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

@media screen and (width >= 767px) {
  .more-images__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .more-images__box {
    width: auto;
  }
}

@media screen and (width >= 1100px) {
  .more-images__box {
    background-size: 60px;
  }
}

/* 카테고리 */
.category-layout hgroup {
  margin-bottom: 16px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.category-list .btn {
  width: 100%;
}

@media screen and (width >= 767px) {
}

@media screen and (width >= 1100px) {
  .category-layout hgroup {
    margin-bottom: 24px;
  }

  .category-list {
    gap: 12px;
  }

  .category-btn {
    --btn-radius: 8px;
    --btn-font-size: 20px;

    height: 58px;
    padding-inline: 20px;
  }
}

/* 활동 방식 선택 */
.meeting-type__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.meeting-type__btn {
  width: 100%;
}

.meeting-type__btn.btn--active {
  pointer-events: none;
}

@media screen and (width >= 767px) {
}

@media screen and (width >= 1100px) {
  .meeting-type__btn {
    --btn-radius: 8px;
    --btn-font-size: 20px;

    height: 58px;
    padding-inline: 20px;
  }
}
