@import './styles/reset.css';
@import './styles/font.css';

:root {
  --body-color: #121212;
  --border-color: #e5e5e5;
  --content-px: 16px;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Pretendard', '맑은 고딕', Malgun Gothic, 'Apple SD Gothic Neo', '나눔고딕', Arial, sans-serif;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--body-color);
}

header {
  border-bottom: 1px solid var(--border-color);
}

.header__inner {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
  text-align: center;
}

.header__title {
  font-weight: bold;
  font-size: 18px;
}

main {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: var(--content-px);
}

@media screen and (width >=767px) {
  :root {
    --content-px: 20px;
  }
  
  .header__inner {
    padding-inline: 20px;
    text-align: center;
  }

  .header__title {
    font-size: 24px;
  }
}

@media screen and (width >=1100px) {
}