@import './styles/reset.css';
@import './styles/font.css';
@import './styles/common.css';
@import './styles/layout.css';

/* 대표 이미지 */
.main-image__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-align: center;
  overflow: hidden;
}

.main-image__disp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-image__title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.main-image__desc {
  margin-bottom: 24px;
  font-weight: 500;
  color: #8f8f8f;
}

.main-image__btn {
  width: 160px;
}

.main-image__img {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

@media screen and (width >= 767px) {
}

@media screen and (width >= 1100px) {
  .main-image__title {
    font-size: 28px;
  }

  .main-image__desc {
    font-size: 22px;
  }
}

/* 추가 이미지 */

@media screen and (width >= 767px) {
}

@media screen and (width >= 1100px) {
}
